@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Signika:wght@300;400;600&display=swap);

.App {
  text-align: center;
  padding: 2% 4%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
  font-weight: 400;
  font-size: 16px;
}

h1 {
  margin: auto;
  padding-bottom: 15px;
}

h2 {
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}

h4 {
  margin: auto;
  font-weight: 500;
  padding-bottom: 5px;
}

.title {
  color: #fe6d73;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.sub-title {
  padding-bottom: 30px;
  font-weight: 600;
}

.display-none {
  display: none;
}

.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

input:hover {
  border: 2px solid #ccc;
}

.city {
  margin: 10px 8px 10px 8px;
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 43px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions>li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions>li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions>li:hover {
  background-color: #feb3b1;
}

.event {
  padding: 10px 15px 15px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.event-info {
  padding: 0px 5px 20px 0px;
  text-align: left;
  position: relative;
}

.event-details {
  padding: 0px 5px 20px 0px;
  text-align: left;
  position: relative;
}

.event-button {
  position: relative;
  padding: 25px 10px;
}

.event-showDetails-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  outline: none;
  background-color: #fe6d73;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.event-showDetails-btn:hover {
  opacity: 0.8;
}

.event-hideDetails-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  outline: none;
  background-color: #feb3b1;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

.event-hideDetails-btn:hover {
  opacity: 0.8;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  padding-bottom: 20px;
  text-align: center;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.alert {
  position: relative;
  text-align: center;

}

.info-alert {
  position: absolute;
  bottom: 42px;
}

.error-alert {
  margin-bottom: 10px;
  font-size: 14px;
}

.warning-alert {
  position: relative;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 10px;

}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}

.recharts-surface {
  overflow: visible;
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }

  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}